@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("images/pikb29.jpg");
  background-size: cover;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 20vh;
  width: 98.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 43, 45, 0.25);
  color: var(--white);
  font-size: x-large;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.content {
  display: flex;
  padding-top: 5vh;
  padding: 5vh 5vw;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.card {
  width: 20vw;
  min-width: 250px;
  margin-bottom: 5vh;
  border: 1px solid grey;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px black;
  background-color: rgb(49, 50, 111, 0.25);
  color: var(--white);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.5rem;
}

.card ol li a {
  color: var(--white);
  outline: none;
  text-decoration: none;
}

.card ol li a:hover{
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 0 7px;
}

.footer {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  height: 10vh;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.footer p a{
  color: var(--white);
  outline: none;
  /* text-decoration: none; */
}