*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px solid lightgreen; */
    color: #fff;
}

body{
    background-image: url("RECURSOS/patron2.png");
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    background-color: #1B354E;
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 5px;
}

@font-face{
    font-family: Optimistic Signature;
    src: url("RECURSOS/Tipografias/Optimistic/Optimistic\ Signature\ Italic.ttf");
}
@font-face {
    font-family: barcade;
    src: url("RECURSOS/Tipografias/Barcade/barcadenobar.ttf");
}

@font-face {
    font-family: socialMedia;
    src: url("RECURSOS/Tipografias/social_media/social\ media.ttf");
}

/* header  */

header{
    background-color: #1fbac0;
}

    .header__section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .header__section-div{
            height: 142PX;
            align-items: center;
            display: flex;
            padding: 0;
            margin-left: 90px;
        }

            .header__section-div-h1{
                margin-left: 25px;
                font-size: 110px;
                font-family: barcade;
            }

            .header__section-div-img{
                color: white;
                max-height: 65px;
            }

        .header__section-div1-btn{
            font-size: 31px;
            width: 256px;
            height: 64px;
            margin-right: 25px;
            background-color: #66EF87;
            color: #fff;
            border-radius: 2px;
            border: none;
            box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                    0 4px 2px rgba(0,0,0,0.09), 
                    0 8px 4px rgba(0,0,0,0.09), 
                    0 16px 8px rgba(0,0,0,0.09),
                    0 32px 16px rgba(0,0,0,0.09);
        }

.varNav{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 5px;
    display: flex;
    align-items:flex-end;
    background-color: #1fbac0;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 52px;
    -webkit-box-shadow:  0 2px 4px black;
   -moz-box-shadow:  0 2px 4px black;
        box-shadow: inset  0 2px 4px black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

    .varNav>a{
        padding: 0px;
        font-size: 33px;
        text-decoration: none;
        color: #fff;
    }

    .varNav>a:hover{
        text-decoration: underline 6px #66EF87;
        border-bottom: 8px solid transparent;
        border-radius: 2px;
        font-weight: bold;
    }

/* home  */
.home{
    /* background-image: url("RECURSOS/Fondo\ programación.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* background-color: #1B354E; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .home__fname{
        text-shadow: 3px 1px black;
        z-index: 100;
        font-size: 64px;
        position: absolute;
        top: 32vh;
        left: 25vw;
    }

    .home__lname{
        font-family: Optimistic Signature;
        font-size: 160px;
        text-shadow: 3px 1px black;
        z-index: 100;
        position: absolute;
        left: 6vw;
    }

    .home__img{
        position: absolute;
        width: 38vw;
        border-radius: 100%;
        right: 138px;
        z-index: 50;
        box-shadow: 15px 5px 20px 5px black;
    }

/* About  */
.about{
    display:flex ;
    /* background-image: url("RECURSOS/Programador\ 1.jpeg"); */
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    position: relative;
    align-items: baseline;
    justify-content: center;
}

.about::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .about__description{
        margin-top: 53px;
        margin-left: 30px;
        margin-right: 20px;
        text-align: justify;
        position: relative;
        width: 50vw;
        height: 80vh;
    }

        .about__description-title{
            font-size: 77px;
            padding-left: 45px;
        }

        .about__description-info{
            font-size: 35px;
            padding-right: 20px;
            padding-left: 45px;
        }

    .about__border{
        display: flex;
        border: 39px solid #66EF87;
        position: relative;
        height: 65vh;
        position: relative;
        width: 32vw;
        background-image: url("RECURSOS/biopic.png");
        background-size: cover;
    }

        .about__border-content{
            visibility: hidden;
        }

        .about__border-nomimg{
            font-family: Optimistic Signature;
            font-size: 40px;
            font-weight: lighter;
            position: relative;
            top: 72vh;
            left: 5vw;
            height: 50px;
        }

/* skills */

.skills{
    /* background-color: #1B354E; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}


.skills::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .skills__title, .skills__div{
        position: relative;
    }

    .skills__title{
        font-size: 70px;
        font-weight: lighter;
        width: 80vw;
    }

    .skills__div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80vw;
    }

        .skills__div>a:hover{
            text-decoration: underline 6px #66EF87;
        }

        .skills__div-links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 50vh;
            text-decoration:none;
            font-size: 2.3em;
        }

        .skills__div-links>img{
            height: 30vh;
            margin-top: 30px;
        }

/* SERVICES */

.services{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.services::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .services__title, .services__div{
        position: relative;
        width: 80vw;
    }

    .services__title{
        font-size: 70px;
        font-weight: bold;
    }

    .services__div{
        display: flex;
        justify-content: space-between;
    }

        .services__div>div{
            width: 279px;
            text-align: center;
            border-radius: 5px;
        }

        .services__div>div>img{
            width: 278px;
        }

/* PORTFOLIO */

.portfolio{
    /* background-color: #1B354E; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.portfolio::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .portfolio__title, .portfolio__gallery{
        position: relative;
    }

    .portfolio__title{
        width: 80vw;
        margin-bottom: 3vh;
        font-size: 70px;
    }

    .portfolio__gallery{
        width: 100vw;
        height: 70vh;
        background-color: #66EF87;
        display: flex;
        text-align: center;
    }

        .portfolio__gallery-link{
            width: 90vw;
            height: 7vh;
            border: 1px solid red;
        }

/* CONTACT */

.contact{
    height: 150vh;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* box-shadow: inset  0px 10px 37px -3px rgba(0, 0, 0, 0.717); */
}

    .map, .contact__form{
        position: relative;
    }

    .map{
        margin-bottom: 2vh;
        border-radius: 10px;
    }

    .contact__form{
        width: 80vw;
        height: 80vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
        .contact__form-title{
            font-size: 60px;
            font-weight: bold;
        }
        
        .form__input {
            width: 70vw;
            padding: 7px;
            margin: 6px 0;
            border: none;
            border-bottom: 5px solid rgb(17, 204, 54);
            background: transparent;
            color: #fff;
        
        }

        .form__input::placeholder{
            color: #fff;
            font-size: 20px;
        }
        
        .form__input:focus{
            outline: none;
            background: linear-gradient(to bottom, transparent, #222);
            border-bottom: 5px solid #5dd;
        }
        
        .contact__form textarea {
            min-height: 140px;
            resize: none;
        }

        .contact__form input[type="submit"]{
            width: 52vw;
            background-color: rgb(17, 204, 54);
            border-bottom: none;
            padding: 12px;
            font-size: 35PX;
            font-weight: bold;
            box-shadow: 0px 6px 10px 0px #000;
        }
        
        .contact__form input[type="submit"]:hover{
            background-color: rgb(3, 249, 53);
            border-bottom: none;
            padding: 12px;
        }
        
        .contact__form input[type="submit"]:focus{
            background-color: #094;
        }
        
        .contact__form input[type="submit"]:active{
            background-color: linear-gradiente(to bottom, #072, #050);
            box-shadow: 0px 0px 0px 0px #000;
        }

/* Footer */

.footer{
    /* background-color: #1B354E; */
    /* background-image: url("RECURSOS/patron2.png"); */
    height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer::before{
    content: '';
    position: absolute;
    background-color: #1B354E;
    opacity: 0.93;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
}

    .footer__logos{
        padding-top: 2.5%;
        position: relative;
        text-align: center;
    }

        .footer__logos>a{
            padding: 5%;
            font-family: socialMedia;
            font-size: 100px;
            text-decoration: none;
        }
    
    .credit{
        position: relative;
        padding-top: 4.5%;
        padding-bottom: 1%;
        text-align: center;
    }