*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 1px solid lightgreen;
}

@font-face{
    font-family: Optimistic Signature;
    src: url("RECURSOS/Tipografias/Optimistic/Optimistic\ Signature.ttf");
}
@font-face {
    font-family: barcade;
    src: url("RECURSOS/Tipografias/Barcade/barcadenobar.ttf");
}

.nom_font{
    font-family: Optimistic Signature;
    font-size: 160px;
}

/* header  */

header{
    background-color: #1fbac0;
}

.header__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    background-color: #1fbac0;
    color: #fff;
    justify-content: center;
    height: 62px;
    -webkit-box-shadow:  0 2px 4px black;
   -moz-box-shadow:  0 2px 4px black;
        box-shadow: inset  0 2px 4px black;     
}

nav>a{
    font-size: 33px;
}

.header__section-div{
    height: 142PX;
    align-items: center;
    display: flex;
    padding: 0;
    margin-left: 90px;
}

.header__section-div-img{
    color: white;
    border: 1px solid black;
    max-height: 65px;
}

.header__section-div-h1{
    margin-left: 25px;
    font-size: 110px;
    font-family: barcade;
    
}

.header__section-btn{
    font-size: 31px;
    width: 256px;
    height: 64px;
    margin-right: 25px;
    background-color: #66EF87;
    color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
              0 4px 2px rgba(0,0,0,0.09), 
              0 8px 4px rgba(0,0,0,0.09), 
              0 16px 8px rgba(0,0,0,0.09),
              0 32px 16px rgba(0,0,0,0.09);
}

a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    padding-left: 20px;
}

/* home  */
h1, p{
    color: #fff;
}


.home{
    background-image: url("RECURSOS/Fondo\ programación.jpg");
    height: 45vw;
}

.home__img{
    max-width: 500px;
}

.about{
    background-image: url("RECURSOS/Programador\ 1.jpeg");
    height: 45vw;
}

/* skills */

.skills{
    background-color: #1B354E;
}