@media (max-width: 1145px){
/* header  */
.varNav{
    padding-top: 5px;
    padding-bottom: 0px;
    align-items:center;
    min-height: 45px;
}

    .varNav__sections-element>a{
        font-size: 26px;
    }

/* About  */
        .about__description-title{
            font-size: 60px;
        }

        .about__description-info{
            font-size: 25px;
        }

        .about__border-nomimg{
            font-size: 35px;
            top: 69vh;
            left: -2vw;
            text-shadow: 1px 1px 1px black;
        }

/* skills */
    .skills__title{
        font-size: 60px;
        font-weight: bold;
    }

/* SERVICES */
    .services__title{
        font-size: 60px;
        font-weight:bold;
    }

/* PORTFOLIO */
    .portfolio__title{
        margin-bottom: 0vh;
        font-size: 55px;
    }

            /* .portfolio__gallery-card{
                width: 20vw;
                height: 30vw;
            } */

            .portfolio__gallery-card .portfolio__gallery-card-text p{ /*baja la posicion del texto y el boton*/
                margin-bottom: -220px; /*Baja la posicion del texto*/
            }

/* Footer */

        .footer__logos>a{
            padding: 2.5%;
            font-size: 90px;
        }
}